.height-slider{
  height: 5px;
  border-radius: 5px;
}

input[type=range].height-slider{
  accent-color: theme("colors.primary.DEFAULT");
}

input[type=range].height-slider:hover{
  accent-color: theme("colors.primary.DEFAULT");
}

.height-slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: theme("colors.primary.DEFAULT");
  border: 3px solid theme("colors.primary.700");
  cursor: pointer;
}

