.monocolor-slider,
.color-slider,
.hue-slider{
  -webkit-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 5px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2;
}

.monocolor-slider{
  background: #d5d5d5;
}

.monocolor-slider:hover{
  opacity: 1;
}

.color-slider{
  background-image: linear-gradient(to right, white, gray);
}

.hue-slider{
  background-image: linear-gradient(to right, #72E133, #EF43Db);
}

.monocolor-slider::-webkit-slider-thumb,
.color-slider::-webkit-slider-thumb,
.hue-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333333;
  border: 3px solid #d5d5d5;
  cursor: pointer;
}

.monocolor-slider::-moz-range-thumb,
.color-slider::-moz-range-thumb,
.hue-slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333333;
  border: 3px solid #d5d5d5;
  cursor: pointer;
}
