@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.accordion-item[aria-expanded='true']{
  border-right: 2px solid;
  border-color: rgb(14, 164, 233);
}

.accordion-item[aria-expanded='true']::before{
  width: 100%;
}

.sidebar-scroll{
  -webkit-appearance: none;
  appearance: none;
}

.sidebar-scroll::-webkit-scrollbar{
  width: 11px;
}

.sidebar-scroll::-webkit-scrollbar-track{
  border-radius: 8px;
}

.sidebar-scroll::-webkit-scrollbar-thumb{
  border-radius: 8px;
  border: 2px solid rgb(241, 245, 259);
  background-color: rgba(148, 163, 184, 0.3);
}
